@model DisplayAddressViewModel
@{
    ViewData["Title"] = "Registered Addresses";
}


<h2>@ViewData["Title"].</h2>
<br />
<table>
    <tr>
        <th>
            Address Type
        </th>
        <th>
            Address
        </th>
    </tr>
    @foreach(var address in Model.location)
    {
        <tr>
            <td>
                @address.UserAddresses.First().AddressType
            </td>
            <td>
               @address.unitNumber @address.streetNumber @address.streetName  @address.suburb  @address.state  @address.postcode
            </td>
        </tr>

    }


</table>

