@*@model IEnumerable<IdentityRight.Models.ApplicationOrganisations>
@{
    ViewData["Title"] = "Add/Remove Organisation Links";
}*@

@model OrganisationsViewModel
@{
    ViewData["Title"] = "Add/Remove Organisation Links";
}



<h2>@ViewData["Title"].</h2>
<br />

<div id="buttonsDiv">
    <button id="addOrg">&lt; ADD</button>
    <button id="removeOrg">REMOVE &gt;</button>
</div>
<form asp-controller="Identity" asp-action="SetLinks" method="post" class="form-horizontal" role="form">
    <div class="splitView" id="left-window">
        <h3>My Linked organisations</h3>
        <select multiple="multiple" id="leftSelect" asp-for="ReturnedIDs" asp-items="@Model.LinkedOrgs">
            @*@foreach (var item in Model.LinkedOrgs)
            {
                <option class="orgsOption" value="@item.Id">@Html.DisplayFor(modelItem => item.organisationName)</option>
            }*@
        </select>
    </div>
    <div class="splitView" id="right-window">
        <h3>Available organisations</h3>
        <select multiple="multiple" id="rightSelect">
            @foreach (var item in Model.UnlinkedOrgs)
            {
                <option class="orgsOption" value="@item.Id">@Html.DisplayFor(modelItem => item.organisationName)</option>
            }
        </select>
    </div>
    <button type="submit">Save</button>
</form>

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
