@model LinkAddressToOrganisationViewModel
@{
    ViewData["Title"] = "Link your address.";
}

<div class="container">
    <h2>Which organisations do you want to link to @ViewBag.addressToLinkToOrganisation ?</h2>
    <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" oninput="searchOrganisation()">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>

    <form asp-controller="Identity" asp-action="saveOrganisationLink" method="post" class="form-horizontal form-group" role="form">
        <div class="form-group" id="">
            <div class="col-md-4 " id="" style="height:600px">
                <h3>My Linked organisations</h3>
                    <select id="leftSelect" class="form-control" asp-for="@Model.ReturnedIDs" asp-items="@Model.LinkedOrgs"></select>
            </div>
            <div id="buttonsDiv" class="col-md-1">
                <br /><br /><button id="addOrg" class="btn btn-success">&lt; ADD</button><br />
                <button id="removeOrg" class="btn btn-danger">REMOVE &gt;</button>
                <br /><br />
                <button id="submitLinks" type="submit" class="btn btn-success">Save</button>
            </div>
            <div class="col-md-4 " id="" style="height:600px">
                <h3>Available organisations</h3>
                <select multiple="multiple" id="rightSelect" class="form-control" data-style="btn-info">
                    @foreach (var item in Model.UnlinkedOrganisation)
                    {
                        <option class="" value="@item.Id">@Html.DisplayFor(modelItem => item.organisationName)</option>
                    }
                </select>
            </div>
            @Html.HiddenFor(x => x.UserAddressID)
        </div>
            @*
            
        </div>
        <div class="splitView" id="right-window">
            <h3>Available organisations</h3>
            <select multiple="multiple" id="rightSelect" class="form-control" data-style="btn-info">
                @foreach (var item in Model.UnlinkedOrganisation)
                {
                    <option class="" value="@item.Id">@Html.DisplayFor(modelItem => item.organisationName)</option>
                }
            </select>

            @*<select id="rightSelect" class="form-control" asp-for="@Model.UnlinkedOrgs" asp-items="@Model.UnlinkedOrgs"></select>*@
        @*</div>
        
        <button id="submitLinks" type="submit" class="btn-success">Save</button>*@
        
    </form>
</div>
