@{
    ViewData["Title"] = "Update your current details";
}

<h2>@ViewData["Title"].</h2>
@{
    if (ViewBag.EditType == "address")
    {
        @model IdentityRight.ViewModels.EditDetails.UpdateAddressViewModel
        <div class="row">
            <div>
                <form asp-controller="Identity" asp-action="">
                    <div class="form-horizontal">
                        <h4>Update Address</h4>
                        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            
                            <label asp-for="@Model.userAddress.AddressType" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <select asp-for="@Model.userAddress.AddressType" asp-items="Html.GetEnumSelectList<AddressType>()" class="form-control"></select>
                                <span asp-validation-for="@Model.userAddress.AddressType" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Address</label>
                            <div class="col-md-10">
                                <input id="address" class="form-control">
                            </div>
                        </div>
                        @*Start and End Date will be added in later versions*@


                        @*<div class="form-group">
                                <label asp-for="startDate" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="startDate" class="form-control" />
                                    <span asp-validation-for="startDate" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="endDate" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="endDate" class="form-control" />
                                    <span asp-validation-for="endDate" class="text-danger" />
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label asp-for="@Model.location.unitNumber" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                @Html.TextBox("unitNumber", null, new { @class = "form-control", disabled = "true" })
                                
                                <span asp-validation-for="@Model.location.unitNumber" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.location.streetNumber" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                @Html.TextBox("streetNumber", null, new { @class = "form-control", disabled = "true" })
                                <span asp-validation-for="@Model.location.streetNumber" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.location.streetName" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                @Html.TextBox("streetName", null, new { @class = "form-control", disabled = "true" })
                                <span asp-validation-for="@Model.location.streetName" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.location.suburb" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                @Html.TextBox("suburb", null, new { @class = "form-control", disabled = "true" })
                                <span asp-validation-for="@Model.location.suburb" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.location.postcode" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                @Html.TextBox("postcode", null, new { @class = "form-control", disabled = "true" })
                                <span asp-validation-for="@Model.location.postcode" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.location.state" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                @Html.TextBox("state", null, new { @class = "form-control", disabled = "true" })
                                <span asp-validation-for="@Model.location.state" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.location.Countries.countryName" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                @Html.TextBox("countryName", null, new { @class = "form-control", disabled = "true" })
                                <span asp-validation-for="@Model.location.Countries.countryName" class="text-danger" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Update" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvN49EG4_gYq0AiYPl0B5-ZfXcg40qb6U&libraries=places" asp-append-version="true"></script>
        <script src="~/js/mapsAPI.js" asp-append-version="true"></script>
    }
}
