@model DisplayAddressViewModel
<h3>Here are your current addresses</h3>
<table class="table">
    <tr>
        <th>
            Address Type
        </th>
        <th>
            Address
        </th>
    </tr>
    @foreach (var address in Model.location)
    {
        <tr>
            <td>
                @address.UserAddresses.First().AddressType
            </td>
            <td>
                @address.ToString()
                @*@address.unitNumber @address.streetNumber @address.streetName  @address.suburb  @address.state  @address.postcode*@
            </td>
            <td>
                @Html.ActionLink("Edit", "updateAddress", "Identity", address) |
                @Html.ActionLink("Delete", "deleteAddress", address) |
                @Html.ActionLink("Manage links to Organisation", "LinkAddressToOrganisation", address)
            </td>
        </tr>
    }
</table>